@import url("https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&family=Play:wght@400;700&display=swap");

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  /* =============================== COLORS =============================== */
  --dark-blue: #1e3685;
  --medium-blue: #0263b2;
  --light-blue: #f2f8fc;
  --red: #b20237;
  --black: #000000;
  --white: #ffffff;

  /* =============================== FONT FAMILIES =============================== */

  --font-1: "Arial", sans-serif;
  --font-2: "Play", sans-serif;
  --font-3: "Nata Sans", sans-serif;
}

.container {
  width: 1150px;
  max-width: 100%;
  padding: 0 2rem;
  margin: 0px auto;
}

section {
  padding: 5.6rem 0;
}

.btn {
  font-family: var(--font-1);
  font-weight: 400;
  font-size: 1.7rem;
  color: var(--white);
  background-color: var(--red);
  padding: 1.7rem 2.6rem;
  border-radius: 0.5rem;
  white-space: nowrap;
}

.btn:hover {
  background-color: #99002e;
}

.btn:active {
  background-color: #800026;
}

.section-title {
  font-family: var(--font-2);
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 150%;
}

.section-title-black {
  color: var(--black);
}

.section-title-white {
  color: var(--white);
}

/* =============================== HERO =============================== */

.header {
  padding: 1.4rem 0;
  background-color: var(--dark-blue);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 198px;
  display: block;
  margin-right: 10rem;
}

.header-nav {
  flex-grow: 1;
  justify-content: space-between;
}

.header-nav,
.nav-list {
  display: flex;
  align-items: center;
}

.nav-list {
  gap: 3rem;
}

.nav-link {
  font-family: var(--font-1);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;
  color: var(--white);
  position: relative;
}

.nav-link:hover {
  cursor: pointer;
}

.nav-link:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  bottom: -1rem;
}

.nav-contact {
  text-align: right;
}

.nav-contact h4 {
  font-family: var(--font-1);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 140%;
  color: var(--white);
}

.nav-contact p {
  font-family: var(--font-1);
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 140%;
  color: var(--white);
}

.nav-menu {
  display: block;
  width: 5rem;
  height: 4.2rem;
  border: 2px solid var(--white);
  border-radius: 0.5rem;
  display: none;
}

.nav-menu i {
  font-size: 2.8rem;
  color: var(--white);
}

.overlay {
  width: 100%;
  position: absolute;
  height: calc(100vh - 71.4px);
  background-color: #7886b6;
  top: 7.1rem;
  z-index: -10;
  opacity: 0.6;
  display: none;
}

.overlay.show {
  display: block;
}

.hero-content {
  padding: 10rem 0;
}

.hero-content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.hero-info h4 {
  max-width: 51.4rem;
  width: 100%;
  font-family: var(--font-2);
  font-weight: 700;
  font-size: 2.1rem;
  text-transform: uppercase;
  color: var(--medium-blue);
  margin-bottom: 1rem;
}

.hero-info h1 {
  max-width: 56rem;
  width: 100%;
  font-family: var(--font-2);
  font-weight: 700;
  font-size: 5.1rem;
  line-height: 110%;
  color: #181818;
  margin-bottom: 3.4rem;
}

.hero-list {
  max-width: 56rem;
  width: 100%;
  display: flex;
  gap: 3rem;
  margin-bottom: 4.8rem;
}

.hero-item {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.hero-item i {
  font-size: 1.8rem;
  color: var(--medium-blue);
  transform: translateY(0.5rem);
}

.hero-item span {
  font-family: var(--font-1);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 140%;
  color: var(--black);
}

.hero-info-btns {
  display: flex;
  gap: 3rem;
}

/* =============================== STEPS =============================== */

.steps {
  background-color: var(--light-blue);
}

.steps-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 4rem 0;
  gap: 1.6rem;
}

.steps-item {
  padding: 2.4rem 2.9rem;
  background-color: var(--white);
  border-radius: 1rem;
}

.speps-item-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.speps-item-header h4,
.speps-item-header a {
  font-family: var(--font-1);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 150%;
}

.speps-item-header h4 {
  color: var(--black);
}

.speps-item-header a {
  color: var(--dark-blue);
  text-decoration: none;
  display: block;
}

.steps-item p {
  font-family: var(--font-1);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--black);
}

.steps-btns {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

/* =============================== PROBLEM =============================== */

.problem {
  background-color: var(--medium-blue);
}

.problem-list {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.problem-item {
  border-radius: 1rem;
  background-color: var(--white);
  padding: 2.4rem 2.9rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.problem-item img {
  width: 9rem;
  height: 9rem;
}

.problem-item-content h3 {
  font-family: var(--font-1);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--red);
  margin-bottom: 1rem;
}

.problem-item-content h3 span {
  color: var(--black);
}

.problem-item-content p {
  font-family: var(--font-1);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--black);
}

.problem-box {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  background-color: var(--white);
  padding: 2.4rem 2.9rem;
  border-radius: 1rem;
  gap: 1.5rem;
}

.problem-box img {
  width: 3rem;
  height: 3rem;
}

.problem-box p {
  font-family: var(--font-1);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--dark-blue);
}

/* =============================== PROCESS =============================== */

.process-grid {
  gap: 3.5rem;
  display: grid;
  margin-top: 4.8rem;
  grid-template-columns: repeat(2, 1fr);
}

.process-img button {
  display: block;
  margin: 4rem auto 0;
}

.process-steps-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.process-steps-item {
  padding-left: 4rem;
  position: relative;
}

.process-steps-item span {
  content: "1";
  width: 2.8rem;
  height: 2.8rem;
  display: block;
  color: var(--white);
  border-radius: 0.5rem;
  text-align: center;
  background-color: var(--medium-blue);
  font-family: var(--font-2);
  font-weight: 700;
  font-size: 2.4rem;
  position: absolute;
  left: 0;
}

.process-steps-item:nth-child(1)::before,
.process-steps-item:nth-child(2)::before {
  content: "";
  width: 2px;
  height: 100%;
  left: 1.4rem;
  top: 2.8rem;
  background-color: #66727f;
  position: absolute;
  z-index: -10;
}

.process-steps-item h3 {
  font-family: var(--font-1);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--black);
  margin-bottom: 1.6rem;
}

.process-steps-item p {
  font-family: var(--font-1);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--black);
}

.process-info > h3 {
  font-family: var(--font-1);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--black);
  margin-bottom: 1.6rem;
}

.process-check-list {
  display: grid;
  gap: 3.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.process-check-item {
  display: flex;
  gap: 0.8rem;
  align-items: flex-start;
}

.process-check-item i {
  stroke-width: 1.5px;
  margin-top: 1rem;
  stroke: var(--medium-blue);
}

.process-check-item h4 {
  font-family: var(--font-3);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--black);
}

/* =============================== ABOUT =============================== */

.about {
  background-color: var(--medium-blue);
}

.about-grid {
  gap: 5rem;
  display: grid;
  margin-top: 4rem;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.about-left p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--white);
  font-family: var(--font-1);
}

.about-info > h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--white);
  margin-bottom: 2.8rem;
  font-family: var(--font-3);
}

.about-list {
  gap: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-item {
  gap: 2.4rem;
  display: flex;
  align-items: center;
}

.about-item-content h3 {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 150%;
  color: var(--white);
  font-family: var(--font-1);
}

.about-item-content p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--white);
  font-family: var(--font-1);
}

/* =============================== RESPONSIVE =============================== */

@media (max-width: 1000px) {
  /* =============================== HERO =============================== */
  .header-logo {
    margin-right: 4rem;
  }

  /* =============================== STEPS =============================== */
  .steps-list {
    grid-template-columns: repeat(2, 1fr);
  }

  /* =============================== PROCESS =============================== */
  .process-grid {
    grid-template-columns: 1fr;
  }

  .process-img img {
    display: block;
    margin-inline: auto;
  }

  /* =============================== ABOUT =============================== */
  .about-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  /* =============================== HERO =============================== */
  .nav-list {
    width: 40%;
    position: fixed;
    right: -100%;
    top: 7.1rem;
    height: calc(100vh - 71.4px);
    background-color: var(--white);
    flex-direction: column;
    align-items: flex-start;
    padding: 5rem 2rem 0;
    transition: all 0.3s;
  }

  .nav-list.show {
    right: 0;
  }

  .nav-list li {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding-bottom: 2rem;
  }

  .nav-link {
    color: var(--black);
    font-weight: 700;
  }

  .header-nav {
    justify-content: flex-end;
  }

  .nav-menu {
    display: block;
    margin-left: 4.8rem;
  }

  .hero-content .container,
  .hero-list {
    flex-direction: column;
  }

  .hero-item {
    transform: translateY(0);
  }

  .hero-info-btns {
    flex-direction: column;
  }

  /* =============================== STEPS =============================== */
  .steps-list {
    grid-template-columns: 1fr;
  }

  .steps-btns {
    flex-direction: column;
  }

  /* =============================== PROBLEM =============================== */

  .problem-item,
  .problem-box {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  /* =============================== HERO =============================== */
  .nav-contact {
    display: none;
  }

  .nav-list {
    width: 100%;
  }

  /* =============================== PROCESS =============================== */
  .process-check-list {
    grid-template-columns: 1fr;
  }

  /* =============================== ABOUT =============================== */
  .about-list {
    grid-template-columns: 1fr;
  }
}
